# Reducing the transactions csv

In this notebook we are going to build the 2 datasets that we will use to create de 2 main graphs. One will be the dataset with the transactions of 2020 autumn, and the other with the transactions of 2019 autumn. Also we are going to reduce the datasets to make the proyect affordable to run in local.

In [2]:
# Import pandas and read the csv file

import pandas as pd

df = pd.read_csv('data/transactions_train.csv')
df

,t_dat,customer_id,article_id,price,sales_channel_id
0,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,663713001,0.050831,2
1,2018-09-20,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,541518023,0.030492,2
2,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,505221004,0.015237,2
3,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687003,0.016932,2
4,2018-09-20,00007d2de826758b65a93dd24ce629ed66842531df6699...,685687004,0.016932,2
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

**Step 1**: We will create the 2 filtered datasets.

In [19]:
df1 = df[(df.t_dat >= '2020-09-01')]
df1

,t_dat,customer_id,article_id,price,sales_channel_id
30990055,2020-09-01,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,777148006,0.013542,1
30990056,2020-09-01,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,835801001,0.018627,1
30990057,2020-09-01,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,923134005,0.012695,1
30990058,2020-09-01,0001d44dbe7f6c4b35200abdb052c77a87596fe1bdcc37...,865929003,0.016932,1
30990059,2020-09-01,0005ed68483efa39644c45185550a82dd09acb07622acb...,863646004,0.033881,1
...,...,...,...,...,...
31788319,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,929511001,0.059305,2
31788320,2020-09-22,fff2282977442e327b45d8c89afde25617d00124d0f999...,891322004,0.042356,2
31788321,2020-09-22,fff380805474b287b05cb2a7507b9a013482f7dd0bce0e...,918325001,0.043203,1
31788322,2020-09-22,fff4d3a8b1f3b60af93e78c30a7cb4cf75edaf2590d3e5...,833459002,0.006763,1
31788323,2020-09-22,fffef3b6b73545df065b521e19f64bf6fe93bfd450ab20...,898573003,0.033881,2

In [20]:
df2 = df[(df.t_dat >= '2019-09-01') & (df.t_dat < '2019-12-01')]
df2

,t_dat,customer_id,article_id,price,sales_channel_id
16117894,2019-09-01,000f7535bdc611ad136a9f04746d6b1431f50a7f60fbbe...,727880001,0.016932,1
16117895,2019-09-01,000f7535bdc611ad136a9f04746d6b1431f50a7f60fbbe...,767869001,0.008458,1
16117896,2019-09-01,000f7535bdc611ad136a9f04746d6b1431f50a7f60fbbe...,717490010,0.008458,1
16117897,2019-09-01,000f7535bdc611ad136a9f04746d6b1431f50a7f60fbbe...,547780022,0.025407,1
16117898,2019-09-01,0018a4640de2338492de0fcc8325d6f6687d0c7980d804...,803969001,0.025407,2
...,...,...,...,...,...
19689872,2019-11-30,fffa7d7799eb390a76308454cbdd76e473d65b1497fbe4...,464927008,0.015576,1
19689873,2019-11-30,fffa7d7799eb390a76308454cbdd76e473d65b1497fbe4...,594987012,0.015576,1
19689874,2019-11-30,fffa7d7799eb390a76308454cbdd76e473d65b1497fbe4...,594987012,0.015576,1
19689875,2019-11-30,fffa7d7799eb390a76308454cbdd76e473d65b1497fbe4...,464297007,0.015576,1
19689876,2019-11-30,fffc582abe0ed452f145f2e86649d7d745a2b3a16942dd...,763077001,0.036593,2

**Step 2:** We will reduce the datasets:
- The first dataset contains the articles that we will recommend, so we will drop the least frequent articles.
- The second dataset contains the customers that we will make predictions to, so we will drop the least frequent customers.

In [21]:
# Lets see the frequency of articles of df1

articles_counts1 = df1.article_id.value_counts()
print(articles_counts1.describe())
print('80%', articles_counts1.quantile(0.8))
print('85%', articles_counts1.quantile(0.85))
print('90%', articles_counts1.quantile(0.90))
print('95%', articles_counts1.quantile(0.95))
print('99%', articles_counts1.quantile(0.99))
print('99.9%', articles_counts1.quantile(0.999))

count    26252.000000
mean        30.407931
std         87.914801
min          1.000000
25%          2.000000
50%          5.000000
75%         20.000000
max       1982.000000
Name: article_id, dtype: float64
80% 28.0
85% 42.0
90% 69.0
95% 140.0
99% 423.48999999999796
99.9% 985.9960000000137

In [22]:
# We will keep the 1% of most sold articles

frequent_articles = articles_counts1[articles_counts1 >=423].index

df1 = df1.set_index('article_id').loc[frequent_articles].reset_index().rename(columns={'index':'article_id'})
print('number of articles: ', len(df1.article_id.unique()))
df1

number of articles:  265

,article_id,t_dat,customer_id,price,sales_channel_id
0,751471001,2020-09-01,00590a9eaa2794a26e8403fdbe589afdc9c911532a993a...,0.033881,2
1,751471001,2020-09-01,00908bbcc82a7649b648ff83f28d4f36bd5482683b9911...,0.033881,2
2,751471001,2020-09-01,01839fc584d133e5e13309bef89320d688881d1a1b10b8...,0.033881,2
3,751471001,2020-09-01,0322bd7d0201766c3f997b281ebee8428d3de391b5ed47...,0.033881,2
4,751471001,2020-09-01,08b4e8594a113c46a4a90761ba368610a8805299fa99de...,0.033881,2
...,...,...,...,...,...
179388,682550002,2020-09-22,b20e03e5e4f046de6ad98c5d78c613de095d911e4bf9b8...,0.032492,2
179389,682550002,2020-09-22,cd79ae55f098fd0cbb522c2b7a1450c6eb78c1559b2e91...,0.033881,2
179390,682550002,2020-09-22,f284a5d287333706adc7a61cdb80f7f9fb4c9b381e36f3...,0.033881,2
179391,682550002,2020-09-22,f284a5d287333706adc7a61cdb80f7f9fb4c9b381e36f3...,0.033881,2
179392,682550002,2020-09-22,fe99a0069d6b3c64c2707d0ce53b9311540917471d82df...,0.033881,2

In [23]:
# Lets see the frequency of customers of df2

customer_counts2 = df2.customer_id.value_counts()
print(customer_counts2.describe())
print('80%', customer_counts2.quantile(0.8))
print('85%', customer_counts2.quantile(0.85))
print('90%', customer_counts2.quantile(0.90))
print('95%', customer_counts2.quantile(0.95))
print('99%', customer_counts2.quantile(0.99))
print('99.9%', customer_counts2.quantile(0.999))

count    511051.000000
mean          6.989484
std           8.500204
min           1.000000
25%           2.000000
50%           4.000000
75%           9.000000
max         232.000000
Name: customer_id, dtype: float64
80% 10.0
85% 12.0
90% 16.0
95% 22.0
99% 41.0
99.9% 79.0

In [24]:
# We will keep the 1% of most frequent customers

frequent_customers = customer_counts2[customer_counts2 >=41].index

df2 = df2.set_index('customer_id').loc[frequent_customers].reset_index().rename(columns={'index':'customer_id'})
print('number of customers: ', len(df2.customer_id.unique()))
df2

number of customers:  5507

,customer_id,t_dat,article_id,price,sales_channel_id
0,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,2019-09-03,757957001,0.022017,2
1,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,2019-09-03,805986001,0.033881,2
2,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,2019-09-03,785464001,0.042356,2
3,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,2019-09-03,794572001,0.016932,2
4,be1981ab818cf4ef6765b2ecaea7a2cbf14ccd6e8a7ee9...,2019-09-03,763863002,0.008458,2
...,...,...,...,...,...
308866,d8bfae75ec21959c1abbcd141b5d19111fe355eb48729b...,2019-11-22,820428001,0.010831,1
308867,d8bfae75ec21959c1abbcd141b5d19111fe355eb48729b...,2019-11-22,791522004,0.021729,1
308868,d8bfae75ec21959c1abbcd141b5d19111fe355eb48729b...,2019-11-22,765739001,0.016254,1
308869,d8bfae75ec21959c1abbcd141b5d19111fe355eb48729b...,2019-11-22,551044045,0.021678,1
308870,d8bfae75ec21959c1abbcd141b5d19111fe355eb48729b...,2019-11-22,772829001,0.043373,1

In [25]:
# We will also keep only these customers in the df1, because they are the customers that we are going to make recommendations too, and we don't need the others

frequent_cutomers_who_bought_in_2020 = [i for i in df1.customer_id.unique() if i in frequent_customers]

df1 = df1.set_index('customer_id').loc[frequent_cutomers_who_bought_in_2020].reset_index().rename(columns={'index':'customer_id'})
print('number of customers: ', len(df1.customer_id.unique()))
df1

number of customers:  1967

,customer_id,article_id,t_dat,price,sales_channel_id
0,8587b6abee36ea6659a20ff123243e79b7fef9779f4234...,751471001,2020-09-01,0.033881,2
1,8587b6abee36ea6659a20ff123243e79b7fef9779f4234...,909014001,2020-09-01,0.088966,2
2,8587b6abee36ea6659a20ff123243e79b7fef9779f4234...,873279001,2020-09-09,0.042356,2
3,8587b6abee36ea6659a20ff123243e79b7fef9779f4234...,872537001,2020-09-09,0.084729,2
4,e64e2798bc55c242e8fea2dcb72af1684112bf82c473e4...,751471001,2020-09-01,0.033881,2
...,...,...,...,...,...
7196,4ebaab0fab59c10a4aebc458de70477499a356716e606e...,673677022,2020-09-22,0.025407,2
7197,b762834e8edffbc5756535208cb708ef18aba6fedba2c7...,762143001,2020-09-03,0.013542,2
7198,173afba067e1c1fd20c404c6da639b99e9277b3a45a748...,828991003,2020-09-04,0.033881,2
7199,8b121faa353eb41a3cc7e98c3d0ff68432335536c800bf...,828991003,2020-09-13,0.033881,2
7200,322996c6b5bd2a8f099deb92f36a790afd3315ee0c1d1e...,682550002,2020-09-06,0.033356,2

**Exporting to csv**

In [26]:
df1.to_csv('data/2020_autumn_transactions_train.csv', index=False)
df2.to_csv('data/2019_autumn_transactions_train.csv', index=False)